<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <div class="drawer-content">
      <img src="https://cdn-icons-png.flaticon.com/512/6073/6073873.png">
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="header">
      <button type="button" mat-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
      <button (click)="closeSession()" type="button" mat-button><mat-icon>exit_to_app</mat-icon></button>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
