.header{
  background-color: #012E4A;
  display: flex;
  height: 50px;
  justify-content: space-between;
  button{
    color: white;
  }
}

.mat-drawer-container{
  overflow: hidden;
}

.content{
  width: auto;
  background-color: #E8EDE7;
  display: flex;
  justify-content: center;
  height: 92vh;
  overflow: hidden;
}

.mat-drawer{
  background-color: #378BA4;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  img {
    width: 100px;
    height: 100px;
  }
}










