.header{
  background-color: #012E4A;
  display: flex;
  height: 50px;
  justify-content: space-between;
  button{
    color: white;
  }
}

.content{
  width: 100vw;
  height: 90vh;
  background-color: #E8EDE7;
  display: flex;
  justify-content: center;
}





