<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <h2>Login</h2>

  <mat-form-field appearance="fill" class="col">
    <mat-label>Email</mat-label>
    <input matInput formControlName="username" placeholder="Ingrese su email">
    <mat-error *ngIf="form.get('username')?.hasError('required')">Su correo es requerido</mat-error>
    <mat-error *ngIf="form.get('username')?.hasError('email')">Su correo no es valido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col">
    <mat-label>Contraseña</mat-label>
    <input matInput formControlName="password" placeholder="Ingrese su contraseña" type="password">
    <mat-error *ngIf="form.get('password')?.hasError('required')">Su correo es requerido</mat-error>
    <mat-error *ngIf="form.get('password')?.hasError('pattern')">
      La contraseña debe tener al menos 8 caracteres, una mayúscula, una minúscula y un carácter especial.
    </mat-error>
  </mat-form-field>

  <div class="buttons" class="buttons">
    <button mat-raised-button class="btn-save" color="primary" type="submit">Iniciar Sesion</button>
    <button mat-raised-button class="btn-register" type="button" routerLink="/auth/register/ROLE_USER"><a>Registrarse</a></button>
  </div>
</form>

