body{
  * {}
  font-size: 16px;

}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50vh;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  font-family: 'Cormorant Garamond', serif;
}

h2{
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color:#6a7da0;
}

  .mat-form-field {
    width: 100%;
  }

.col {
  border-radius: 4px;
  padding: 5px 10px;
}

.visible {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.btn-save {
  border-radius: 4px;
  background-color: #43598a;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-save mat-icon {
  padding:5px;
  color: white;
}

.buttons {
  display: flex;
  gap:10px;
}

.btn-close{
  background-color: #c0c7c2;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  padding:5px;
}



