<div class="cnt">
  <div class="cnt-content-section">
    <div class="cnt-map">
      <app-map (coordinatesMap)="coordinateMap($event)"></app-map>
    </div>
    <form [formGroup]="form"  class="form" (ngSubmit)="onSubmit()">
      <div class="cnt-section">
        <mat-form-field appearance="fill">
          <mat-label>Descripción</mat-label>
          <textarea matInput rows="5" formControlName="description" placeholder="Escribe aquí tu descripción"></textarea>
          <mat-error *ngIf="form.get('description')?.hasError('required')">Su descripción es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of categorys" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="buttons">
        <button mat-raised-button class="btn" type="button" routerLink="/home/list-notice"><a>Regresar</a></button>
        <button mat-raised-button mat-dialog-close class="btn-save" color="primary" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</div>

