<h2>Avisos</h2>
<app-map></app-map>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="col">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="description" placeholder="Ingrese la descripción">
    <mat-error *ngIf="form.get('description')?.hasError('required')">Su nombre es requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <select matNativeControl>
      <option value="" selected></option>
      <option value="volvo">Volvo</option>
      <option value="saab" disabled>Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
  </mat-form-field>
</form>
